# Default ignored files
/shelf/
/.idea/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea

public/

.hugo_build_lock
resources/_gen/

*.iml
*.iws

.DS_Store
Thumbs.db